services/n8n/workflows/recipe-14-daily-digest-generator.json
{
  "name": "Recipe 14: Daily Digest Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days"
            }
          ]
        },
        "triggerTimes": {
          "item": [
            {
              "hour": 15,
              "minute": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Night 00:30 JST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate today's date in JST (UTC+9) for digest generation\n// Digest is generated at 00:30 JST for today's journal\nfunction getDigestDateJST() {\n  const now = new Date();\n  const jstOffset = 9 * 60; // JST = UTC+9\n  const jstTime = new Date(now.getTime() + jstOffset * 60 * 1000);\n  return jstTime.toISOString().split('T')[0]; // YYYY-MM-DD\n}\n\nconst dateString = getDigestDateJST();\n\nreturn {\n  json: {\n    date: dateString,\n    timestamp: new Date().toISOString(),\n    digestPath: `cortex/daily/${dateString}-digest.md`\n  }\n};"
      },
      "id": "calculate-date",
      "name": "Calculate Digest Date (JST)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "=cd /workspace/dauberside.github.io-1 && node cortex/scripts/generate-daily-digest.mjs {{ $json.date }}"
      },
      "id": "generate-digest",
      "name": "Generate Daily Digest",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "command": "=ls -lh /workspace/dauberside.github.io-1/{{ $json.digestPath }} 2>&1"
      },
      "id": "verify-file",
      "name": "Verify File Created",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const dateInfo = $('Calculate Digest Date (JST)').first().json;\nconst generateOutput = $('Generate Daily Digest').first().json;\nconst verifyOutput = $('Verify File Created').first().json;\n\n// Build success message\nconst message = `✅ *Daily Digest Generated*\\n\\n` +\n  `📅 Date: ${dateInfo.date} (JST)\\n` +\n  `📁 File: ${dateInfo.digestPath}\\n` +\n  `⏰ Generated at: ${dateInfo.timestamp}\\n\\n` +\n  `File info:\\n${verifyOutput.stdout || 'File created successfully'}`;\n\nreturn {\n  json: {\n    success: true,\n    date: dateInfo.date,\n    message: message,\n    digestPath: dateInfo.digestPath\n  }\n};"
      },
      "id": "build-success-message",
      "name": "Build Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "const dateInfo = $('Calculate Digest Date (JST)').first().json;\nconst errorOutput = $('Generate Daily Digest').first().json;\n\n// Build error message\nconst message = `❌ *Daily Digest Generation Failed*\\n\\n` +\n  `📅 Date: ${dateInfo.date} (JST)\\n` +\n  `⏰ Attempted at: ${dateInfo.timestamp}\\n\\n` +\n  `Error output:\\n${errorOutput.stderr || errorOutput.stdout || 'Unknown error'}`;\n\nreturn {\n  json: {\n    success: false,\n    date: dateInfo.date,\n    message: message,\n    error: errorOutput.stderr || 'Generation failed'\n  }\n};"
      },
      "id": "build-error-message",
      "name": "Build Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_DAILY_DIGEST_WEBHOOK }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $json.message } }}",
        "options": {}
      },
      "id": "slack-notification",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every Night 00:30 JST": {
      "main": [
        [
          {
            "node": "Calculate Digest Date (JST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Digest Date (JST)": {
      "main": [
        [
          {
            "node": "Generate Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Daily Digest": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Verify File Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify File Created": {
      "main": [
        [
          {
            "node": "Build Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Message": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Message": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "cortex-os"
    },
    {
      "name": "daily-digest"
    },
    {
      "name": "automation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-01T11:54:00.000Z",
  "versionId": "1.1"
}
