services/n8n/workflows/recipe-02-kb-rebuild.json
{
  "name": "Recipe 02: Nightly KB Rebuild",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        },
        "triggerTimes": {
          "item": [
            {
              "hour": 3,
              "minute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Night 03:00 JST",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },

    {
      "parameters": {
        "command": "cd /workspace/dauberside.github.io-1 && KB_EMBED_MODE=hash node scripts/kb-rebuild.mjs"
      },
      "id": "rebuild-kb",
      "name": "Rebuild KB Index",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1250, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kb-api:4040/reload",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.KB_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "reload-kb-api",
      "name": "Reload KB API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const rebuildOutput = $('Rebuild KB Index').first().json;\nconst reloadResult = $('Reload KB API').first().json;\n\nconst success = rebuildOutput.exitCode === 0;\nconst reloadOk = reloadResult.reloaded === true;\n\n// Parse output for statistics\nconst output = rebuildOutput.stdout || '';\nconst filesMatch = output.match(/Files: (\\d+)/);\nconst chunksMatch = output.match(/Chunks: (\\d+)/);\n\nconst files = filesMatch ? parseInt(filesMatch[1]) : 0;\nconst chunks = chunksMatch ? parseInt(chunksMatch[1]) : 0;\n\nlet text;\nif (success && reloadOk) {\n  text = `✅ *Nightly KB Rebuild Succeeded*\\n\\n` +\n    `*Time*: ${new Date().toISOString()}\\n` +\n    `*Notes Accepted*: ${files}\\n` +\n    `*Embedded*: ${chunks}\\n` +\n    `*Skipped*: 0`;\n} else {\n  text = `❌ *Nightly KB Rebuild Failed*\\n\\n` +\n    `*Time*: ${new Date().toISOString()}\\n` +\n    `*Rebuild*: ${success ? '✅' : '❌'}\\n` +\n    `*Reload*: ${reloadOk ? '✅' : '❌'}\\n` +\n    `*Error*: ${rebuildOutput.stderr || 'Unknown error'}`;\n}\n\nreturn {\n  json: {\n    success: success && reloadOk,\n    text\n  }\n};"
      },
      "id": "format-result",
      "name": "Format Result Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEEKLY_SUMMARY_WEBHOOK }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $json.text } }}",
        "options": {}
      },
      "id": "slack-notification",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every Night 03:00 JST": {
      "main": [
        [
          {
            "node": "Rebuild KB Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rebuild KB Index": {
      "main": [
        [
          {
            "node": "Reload KB API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload KB API": {
      "main": [
        [
          {
            "node": "Format Result Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-18T00:00:00.000Z",
      "updatedAt": "2025-11-18T00:00:00.000Z",
      "id": "1",
      "name": "phase-2"
    },
    {
      "createdAt": "2025-11-18T00:00:00.000Z",
      "updatedAt": "2025-11-18T00:00:00.000Z",
      "id": "2",
      "name": "kb"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-20T00:00:00.000Z",
  "versionId": "2"
}
