services/n8n/workflows/recipe-03-daily-digest.json
{
  "name": "Recipe 03: Daily Digest (Morning Summary)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        },
        "triggerTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Morning 08:00 JST",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate yesterday's date\nconst now = new Date();\nconst yesterday = new Date(now);\nyesterday.setDate(yesterday.getDate() - 1);\n\n// Format as YYYY-MM-DD\nconst year = yesterday.getFullYear();\nconst month = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst day = String(yesterday.getDate()).padStart(2, '0');\nconst dateString = `${year}-${month}-${day}`;\n\n// Build file path for Obsidian daily note\nconst filePath = `cortex/daily/${dateString}-digest.md`;\n\nreturn {\n  json: {\n    date: dateString,\n    filePath: filePath\n  }\n};"
      },
      "id": "calculate-date",
      "name": "Calculate Yesterday's Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://host.docker.internal:27124/vault/{{ $json.filePath }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 270cc55355f7e4747e643100df3f121cf1360d8c191c92d5765f24962db88e66"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "get-obsidian-note",
      "name": "Get Daily Note from Obsidian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Get content from HTTP response (it's the raw markdown text)\nconst content = typeof input === 'string' ? input : (input.body || input.content || '');\n\n// Extract date from markdown header (e.g., \"# Daily Digest 2025-11-19\")\nlet date = 'unknown';\nconst dateMatch = content.match(/# Daily Digest[\\s—-]+([\\d-]+)/);\nif (dateMatch) {\n  date = dateMatch[1];\n}\n\n// Parse markdown to extract Tasks and Reflection sections\nfunction extractSection(markdown, sectionName) {\n  const regex = new RegExp(`##\\\\s*${sectionName}([\\\\s\\\\S]*?)(?=##|$)`, 'i');\n  const match = markdown.match(regex);\n  if (!match) return null;\n  return match[1].trim();\n}\n\nfunction extractTasks(tasksSection) {\n  if (!tasksSection) return [];\n  const lines = tasksSection.split('\\n');\n  return lines\n    .filter(line => line.match(/^\\s*-\\s*\\[.\\]/)) // Match checkbox lines\n    .map(line => line.trim());\n}\n\n// Extract sections\nconst tasksSection = extractSection(content, 'Tasks');\nconst reflectionSection = extractSection(content, 'Reflection');\n\n// Parse tasks\nconst tasks = extractTasks(tasksSection);\n\n// Build Slack message\nlet message = `🗓 *Daily Digest for ${date}*\\n\\n`;\n\nif (tasks.length > 0) {\n  message += `✅ *Tasks*\\n`;\n  tasks.forEach(task => {\n    message += `${task}\\n`;\n  });\n  message += `\\n`;\n} else {\n  message += `✅ *Tasks*\\nNo tasks found\\n\\n`;\n}\n\nif (reflectionSection) {\n  message += `🧠 *Reflection*\\n${reflectionSection}`;\n} else {\n  message += `🧠 *Reflection*\\nNo reflection found`;\n}\n\nreturn {\n  json: {\n    date: date,\n    text: message,\n    tasksFound: tasks.length,\n    reflectionFound: !!reflectionSection\n  }\n};"
      },
      "id": "parse-markdown",
      "name": "Parse Tasks & Reflection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $json.text } }}",
        "options": {}
      },
      "id": "slack-notification",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every Morning 08:00 JST": {
      "main": [
        [
          {
            "node": "Calculate Yesterday's Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Yesterday's Date": {
      "main": [
        [
          {
            "node": "Get Daily Note from Obsidian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Note from Obsidian": {
      "main": [
        [
          {
            "node": "Parse Tasks & Reflection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tasks & Reflection": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-18T00:00:00.000Z",
      "updatedAt": "2025-11-18T00:00:00.000Z",
      "id": "1",
      "name": "phase-2"
    },
    {
      "createdAt": "2025-11-18T00:00:00.000Z",
      "updatedAt": "2025-11-18T00:00:00.000Z",
      "id": "3",
      "name": "obsidian"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T00:00:00.000Z",
  "versionId": "1"
}
