services/n8n/workflows/recipe-04-adr-to-github-issue-simple.json
{
  "name": "Recipe 04: ADR → GitHub Issue (Simple)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adr-to-issue",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "adr-to-issue"
    },
    {
      "parameters": {
        "jsCode": "// ADR データを GitHub Issue 用にパース\nconst input = $input.item.json.body || $input.item.json;\n\n// ADR ファイルパスから番号を抽出\nconst adrNumber = input.filepath ? input.filepath.match(/ADR-(\\d+)/)?.[1] : 'unknown';\n\n// Issue タイトル\nconst issueTitle = `[ADR-${adrNumber}] ${input.title || 'Untitled ADR'}`;\n\n// Issue 本文\nconst issueBody = `## ADR Information\n\n**Status**: ${input.status || 'Draft'}\n**Date**: ${input.date || new Date().toISOString().split('T')[0]}\n**Author**: ${input.author || 'Unknown'}\n\n## Context\n\n${input.context || 'No context provided.'}\n\n## Decision\n\n${input.decision || 'No decision recorded.'}\n\n---\n\n**Source**: [${input.filepath}](https://github.com/dauberside/dauberside.github.io/blob/master/${input.filepath})\n\n🤖 Auto-generated by Recipe 04 (n8n workflow)`;\n\n// Issue ラベル\nconst labels = ['documentation', 'adr'];\nif (input.status === 'Proposed') labels.push('needs-review');\nif (input.status === 'Accepted') labels.push('accepted');\n\nreturn {\n  json: {\n    title: issueTitle,\n    body: issueBody,\n    labels: labels,\n    adrNumber: adrNumber,\n    filepath: input.filepath,\n    originalData: input\n  }\n};"
      },
      "name": "Parse ADR Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/dauberside/dauberside.github.io/issues",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body }}"
            },
            {
              "name": "labels",
              "value": "={{ $json.labels }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $statusCode }}",
              "operation": "equal",
              "value2": 201
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"issueUrl\": $('Create GitHub Issue').item.json.html_url, \"issueNumber\": $('Create GitHub Issue').item.json.number, \"title\": $('Parse ADR Data').item.json.title } }}"
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $('Create GitHub Issue').item.json.message || 'Failed to create issue', \"statusCode\": $statusCode } }}"
      },
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Parse ADR Data", "type": "main", "index": 0}]]
    },
    "Parse ADR Data": {
      "main": [[{"node": "Create GitHub Issue", "type": "main", "index": 0}]]
    },
    "Create GitHub Issue": {
      "main": [[{"node": "Check Success", "type": "main", "index": 0}]]
    },
    "Check Success": {
      "main": [
        [{"node": "Respond Success", "type": "main", "index": 0}],
        [{"node": "Respond Error", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "description": "Recipe 04: ADR → GitHub Issue (Slack 通知なしのシンプル版)",
    "version": "1.0.1",
    "author": "dauberside",
    "created": "2025-11-24"
  }
}
