services/n8n/workflows/recipe-09-daily-digest-v2.json
{
  "name": "Recipe 09: Daily Digest → Claude Code (File + Slack)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        },
        "triggerTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Morning 08:00 JST",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate yesterday's date\nconst now = new Date();\nconst yesterday = new Date(now);\nyesterday.setDate(yesterday.getDate() - 1);\n\n// Format as YYYY-MM-DD\nconst year = yesterday.getFullYear();\nconst month = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst day = String(yesterday.getDate()).padStart(2, '0');\nconst dateString = `${year}-${month}-${day}`;\n\n// Build file path for Obsidian daily note\nconst filePath = `cortex/daily/${dateString}-digest.md`;\n\nreturn {\n  json: {\n    date: dateString,\n    filePath: filePath,\n    outputPath: `/workspace/dauberside.github.io-1/notifications/daily/${dateString}-digest.md`\n  }\n};"
      },
      "id": "calculate-date",
      "name": "Calculate Yesterday's Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://host.docker.internal:27124/vault/{{ $json.filePath }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OBSIDIAN_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "get-obsidian-note",
      "name": "Get Daily Note from Obsidian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst dateInfo = $('Calculate Yesterday\\'s Date').first().json;\n\n// Get content from HTTP response (it's the raw markdown text)\nconst content = typeof input === 'string' ? input : (input.data || input.body || input.content || '');\n\n// Extract date from markdown header (e.g., \"# Daily Digest 2025-11-19\")\nlet date = dateInfo.date || 'unknown';\nconst dateMatch = content.match(/# Daily Digest[\\s—-]+([\\d-]+)/);\nif (dateMatch) {\n  date = dateMatch[1];\n}\n\n// Parse markdown to extract Tasks and Reflection sections\nfunction extractSection(markdown, sectionName) {\n  const regex = new RegExp(`##\\\\s*${sectionName}([\\\\s\\\\S]*?)(?=##|$)`, 'i');\n  const match = markdown.match(regex);\n  if (!match) return null;\n  return match[1].trim();\n}\n\nfunction extractTasks(tasksSection) {\n  if (!tasksSection) return [];\n  const lines = tasksSection.split('\\n');\n  return lines\n    .filter(line => line.match(/^\\s*-\\s*\\[[x \\]]/i)) // Match checkbox lines [x] or [ ]\n    .map(line => line.trim());\n}\n\n// Extract sections\nconst tasksSection = extractSection(content, 'Tasks');\nconst reflectionSection = extractSection(content, 'Reflection');\n\n// Parse tasks\nconst tasks = extractTasks(tasksSection);\n\n// Build Slack message\nlet slackMessage = `🗓 *Daily Digest for ${date}*\\n\\n`;\n\nif (tasks.length > 0) {\n  slackMessage += `✅ *Tasks*\\n`;\n  tasks.forEach(task => {\n    slackMessage += `${task}\\n`;\n  });\n  slackMessage += `\\n`;\n} else {\n  slackMessage += `✅ *Tasks*\\nNo tasks found\\n\\n`;\n}\n\nif (reflectionSection) {\n  slackMessage += `🧠 *Reflection*\\n${reflectionSection}`;\n} else {\n  slackMessage += `🧠 *Reflection*\\nNo reflection found`;\n}\n\n// Build Markdown file content for Claude Code\nlet markdownContent = `# Daily Digest - ${date}\\n\\n`;\n\nif (tasks.length > 0) {\n  markdownContent += `## Tasks\\n`;\n  tasks.forEach(task => {\n    markdownContent += `${task}\\n`;\n  });\n  markdownContent += `\\n`;\n} else {\n  markdownContent += `## Tasks\\nNo tasks found\\n\\n`;\n}\n\nif (reflectionSection) {\n  markdownContent += `## Reflection\\n${reflectionSection}\\n`;\n} else {\n  markdownContent += `## Reflection\\nNo reflection found\\n`;\n}\n\nmarkdownContent += `\\n---\\n\\nMetadata:\\n- Source: Obsidian ${dateInfo.filePath}\\n- GeneratedAt: ${new Date().toISOString()}\\n`;\n\n// Base64 encode the markdown content\nconst markdownBase64 = Buffer.from(markdownContent).toString('base64');\n\nreturn {\n  json: {\n    date: date,\n    slackText: slackMessage,\n    markdown: markdownContent,\n    markdownBase64: markdownBase64,\n    outputPath: dateInfo.outputPath,\n    tasksFound: tasks.length,\n    reflectionFound: !!reflectionSection\n  }\n};"
      },
      "id": "parse-markdown",
      "name": "Parse Tasks & Reflection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "command": "=mkdir -p $(dirname {{ $json.outputPath }}) && echo {{ $json.markdownBase64 }} | base64 -d > {{ $json.outputPath }}"
      },
      "id": "write-digest-file",
      "name": "Write Digest File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_DAILY_DIGEST_WEBHOOK }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $('Parse Tasks & Reflection').item.json.slackText } }}",
        "options": {}
      },
      "id": "slack-notification",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every Morning 08:00 JST": {
      "main": [
        [
          {
            "node": "Calculate Yesterday's Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Yesterday's Date": {
      "main": [
        [
          {
            "node": "Get Daily Note from Obsidian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Note from Obsidian": {
      "main": [
        [
          {
            "node": "Parse Tasks & Reflection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tasks & Reflection": {
      "main": [
        [
          {
            "node": "Write Digest File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Digest File": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
