services/n8n/workflows/recipe-04-phase2-github-webhook.json
{
  "name": "Recipe 04 Phase 2: GitHub Push → ADR → Issue",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-adr-push",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "github-adr-push"
    },
    {
      "parameters": {
        "jsCode": "// GitHub Push イベントから ADR ファイルを抽出\nconst payload = $input.item.json.body || $input.item.json;\nconst commits = payload.commits || [];\n\nconst adrFiles = [];\n\nfor (const commit of commits) {\n  const added = commit.added || [];\n  const modified = commit.modified || [];\n  \n  const allFiles = [...added, ...modified];\n  \n  for (const file of allFiles) {\n    // docs/decisions/ADR-*.md のみ処理\n    if (file.startsWith('docs/decisions/ADR-') && file.endsWith('.md')) {\n      adrFiles.push({\n        filepath: file,\n        commitSha: commit.id,\n        commitMessage: commit.message,\n        author: commit.author?.name || commit.author?.username || 'Unknown',\n        timestamp: commit.timestamp\n      });\n    }\n  }\n}\n\nif (adrFiles.length === 0) {\n  // ADR ファイルがない場合はスキップ\n  return [];\n}\n\n// 各 ADR ファイルごとに出力\nreturn adrFiles.map(file => ({ json: file }));"
      },
      "name": "Filter ADR Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.body.repository.full_name || 'dauberside/dauberside.github.io' }}/contents/{{ $json.filepath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Get File Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Base64 デコードして Markdown パース\nconst content = Buffer.from($input.item.json.content, 'base64').toString('utf8');\nconst filepath = $('Filter ADR Files').item.json.filepath;\nconst author = $('Filter ADR Files').item.json.author;\n\n// ADR 番号を抽出\nconst adrNumber = filepath.match(/ADR-(\\d+)/)?.[1] || 'unknown';\n\n// タイトルを抽出（最初の # 行）\nconst titleMatch = content.match(/^#\\s+(.+)$/m);\nconst title = titleMatch ? titleMatch[1] : `ADR-${adrNumber}`;\n\n// Status を抽出\nconst statusMatch = content.match(/^Status:\\s*(.+)$/m);\nconst status = statusMatch ? statusMatch[1].trim() : 'Draft';\n\n// Date を抽出\nconst dateMatch = content.match(/^Date:\\s*(.+)$/m);\nconst date = dateMatch ? dateMatch[1].trim() : new Date().toISOString().split('T')[0];\n\n// Context セクションを抽出\nconst contextMatch = content.match(/##\\s+.*Context[\\s\\S]*?\\n\\n([\\s\\S]*?)(?=\\n##|$)/i);\nconst context = contextMatch ? contextMatch[1].trim() : 'No context provided.';\n\n// Decision セクションを抽出\nconst decisionMatch = content.match(/##\\s+.*Decision[\\s\\S]*?\\n\\n([\\s\\S]*?)(?=\\n##|$)/i);\nconst decision = decisionMatch ? decisionMatch[1].trim() : 'No decision recorded.';\n\n// Issue タイトル\nconst issueTitle = `[ADR-${adrNumber}] ${title.replace(/^ADR-\\d+:\\s*/, '')}`;\n\n// Issue 本文\nconst issueBody = `## ADR Information\n\n**Status**: ${status}\n**Date**: ${date}\n**Author**: ${author}\n\n## Context\n\n${context}\n\n## Decision\n\n${decision}\n\n---\n\n**Source**: [${filepath}](https://github.com/dauberside/dauberside.github.io/blob/master/${filepath})\n\n🤖 Auto-generated by Recipe 04 Phase 2 (GitHub webhook)`;\n\n// Issue ラベル\nconst labels = ['documentation', 'adr'];\nif (status === 'Proposed') labels.push('needs-review');\nif (status === 'Accepted') labels.push('accepted');\n\nreturn {\n  json: {\n    title: issueTitle,\n    body: issueBody,\n    labels: labels,\n    adrNumber: adrNumber,\n    filepath: filepath,\n    status: status,\n    author: author\n  }\n};"
      },
      "name": "Parse ADR Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/dauberside/dauberside.github.io/issues",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body }}"
            },
            {
              "name": "labels",
              "value": "={{ $json.labels }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $statusCode }}",
              "operation": "equal",
              "value2": 201
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"issueUrl\": $('Create GitHub Issue').item.json.html_url, \"issueNumber\": $('Create GitHub Issue').item.json.number, \"adrFile\": $('Parse ADR Content').item.json.filepath } }}"
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $('Create GitHub Issue').item.json.message || 'Failed to create issue' } }}"
      },
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 400]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [[{"node": "Filter ADR Files", "type": "main", "index": 0}]]
    },
    "Filter ADR Files": {
      "main": [[{"node": "Get File Content", "type": "main", "index": 0}]]
    },
    "Get File Content": {
      "main": [[{"node": "Parse ADR Content", "type": "main", "index": 0}]]
    },
    "Parse ADR Content": {
      "main": [[{"node": "Create GitHub Issue", "type": "main", "index": 0}]]
    },
    "Create GitHub Issue": {
      "main": [[{"node": "Check Success", "type": "main", "index": 0}]]
    },
    "Check Success": {
      "main": [
        [{"node": "Respond Success", "type": "main", "index": 0}],
        [{"node": "Respond Error", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "description": "Recipe 04 Phase 2: GitHub Push イベントから ADR ファイルを自動検知して Issue 作成",
    "version": "2.0.0",
    "author": "dauberside",
    "created": "2025-11-24"
  }
}
